{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Navigation-->
        {% include 'partials/_nav.html' %}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            {% include 'sections/about.html' %}
            <hr class="m-0" />
            <!-- Experience-->
            {% include 'sections/experience.html' %}
            <hr class="m-0" />
            <!-- Education-->
            {% include 'sections/education.html' %}
            <hr class="m-0" />
            <!-- Skills-->
            {% include 'sections/skills.html' %}
            <hr class="m-0" />
            <!-- Interests-->
            {% include 'sections/interests.html' %}
            <hr class="m-0" />
            <!-- Awards-->
            <!-- {% include 'sections/awards.html' %} -->
        </div>
   {% endblock %}