{% load static %}
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <!-- <div class="subheading mb-3">Server Management</div> -->
        <ul class="list-inline dev-icons">
            <li class="fa-li">Linux Server Administration</li>
            <li class="fa-li">Virtualization - Proxmox Server</li>
            <li class="fa-li">Docker, Git, Ansible</li>
            <li class="fa-li">Windows Server - Active Directory and SCCM with Powershell - WebIIS</li>
            <li class="fa-li">Automation - HP Operational Orchestration (HPOO)</li>

        </ul>
        <h2>Full Stack Developer</h2>
        <div class="subheading mb-3">Django, Laravel, Vue JS,HTML, CSS, JS, Postgresql, MySQL and MSSQL, NginX, Gunicorn, WebIIS</div>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <h3>Design and Development</h3>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                I design and deploy web applications with a focus on flexibility, performance, and local control.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Backend development is handled using Django.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Frontend interfaces are built with HTML5, CSS, JavaScript, Bootstrap, and Materialize for responsiveness and interactivity.
            </li>
            
        </ul>
        <ul class="fa-ul mb-0">
            <h3>Deployment & Hosting</h3>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Proxmox is used for virtualization and local server management.            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Applications are hosted on Ubuntu within Docker containers for seamless isolation.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Postgres is the primary database for robust data management.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cloudflare provides a reverse proxy, improving security and optimizing traffic.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Windows Server IIS is leveraged for specific projects, supporting both MSSQL and Postgres databases.
            </li>
            
        </ul>
        <ul class="fa-ul mb-0">
            <h3>Benefits & Control</h3>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Local hosting allows greater control over the environment.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Ensures robust, scalable, and secure deployments.
            </li>
          
        </ul>
        <ul class="fa-ul mb-0">
            <h3>Portfolio</h3>
            <li>
                <span class="fa-li">
                    <i class="fas fa-check"></i>
                </span>
                    Check out my work - <a href="https://techblog.christopherancheta.co.nz" target="_blank">Personal Website</a>
            </li>
            
          
        </ul>
    </div>

    
   
</section>